* {
  color: #696639;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.header {
  color: #696639;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body::before {
  content: "";
  position: fixed;
  top: 10px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url(fon.webp);
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(8px);
  z-index: -1;
}
.badge {
  background-color: #ffffff !important;
  color: #696639;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 1px solid #696639 !important;
  font-size: 12pt;
}
.notdiv {
  display: none;
}
.bg-custom {
  background-color: #ffffff !important;
}
.bg-custom-border {
  background-color: #ffffff !important;
  color: #696639 !important;
  border: 1px solid #696639 !important;
}
.fontSize {
  font-size: 2.3rem !important;
  margin: 0 20px;
}
.navigation-panel {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  padding: 10px 0px;
  background-color: #ffffff;
}
.p-custom-badge {
  padding-right: 20px;
}
ul.custom-ul li {
  color: #696639 !important;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}
